#app {
    height: 100%;
}

.flexbox-container {
    display: flex;
    min-height: 100%;
    flex-direction: row;
    box-orient: horizontal;
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.btn-icon {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}